version: '3'
services:
  mysql:
    image: mysql
    environment:
      - MYSQL_ROOT_PASSWORD=example
    volumes:
      - ./sql:/docker-entrypoint-initdb.d/
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 3

  server:
    build: ./server
    restart: always
    environment:
      - HOST=0.0.0.0
      - PORT=80
      - MYSQLHOST=mysql
      - MYSQLUSER=root
      - MYSQLPASS=example
    volumes:
      - ./server/backend:/app/backend
      - ./server/frontend:/app/frontend
    ports:
      - "80:80"
    depends_on:
      mysql:
        condition: service_healthy
