/* Existing Styles */
body {
    background-color: lightblue;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Take full height of the viewport */
    text-align: center;
}
.query-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Take full height of the viewport */
    text-align: center;
}

/* 
Used for the login, register, and totp forms for consistency
*/
.auth-form {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 20px;
    margin: 20px 0;
}

/* 
auth-form headers
*/
h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #0073b1;
}

/* 
USED FOR FOOTER OF AUTH-FORM, SWITCHING FROM LOGIN TO REGISTER
Formats the 'p' tags
*/
p {
    margin-top: 10px;
}
/* Formats the 'a' tags in 'p' tags*/
p a {
    color: #0073b1;
    text-decoration: none;
}
p a:hover {
    text-decoration: underline;
}

/* 
auth-form Inputs 
*/
input {
    padding: 10px 10px;
    margin: 15px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    display: block;
    width: 375px;
}

input:focus {
    border-color: #0073b1;
    outline: none;
}

/* Button Styles */
.button {
    background-color: black;
    border: none;
    color: whitesmoke;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    width: 100%;
}

.button:hover {
    background-color: #333;
}

/* Navigation */
nav {
    background-color: black;
    display: flex;
    justify-content: space-between; /* Aligns items to opposite ends */
    padding: 10px 20px;
}

/* Formats the 'a' and 'div' tags in the nav bar*/
nav a, div{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
}

/* Formats the hover over the nav bar button elements*/
nav a:hover{
    background-color: #555;
    border-radius: 5px;
}

